.instagram-post-card {
  border-bottom: 1px solid #D4D4D4;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  
  figure {
    padding-bottom: 100%;
    background-color: #D8D8D8;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
}
